.slick-dots {
  position: relative;
  bottom: -20px;
}

.slick-dots li.slick-active button:before {
  color: #e6a79d;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0;
}

/* .slick-prev:before,
.slick-next:before {
  color: #e6a79d;
} */

.slick-prev {
  left: 10px;
  z-index: 2;
}

.slick-next {
  right: 10px;
}